.index-fn {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid #adadad;
}
.card-list-function {
    overflow: hidden;
    position: absolute;
    display: none;
    top: 20%;
}

.show {
    display: block;
    z-index: 1;
    animation: slideFromRight 0.5s forwards;
}

@keyframes slideFromRight {
    from {
        right: -300px; /* Bắt đầu từ vị trí bên phải ngoài màn hình */
        opacity: 0;
    }
    to {
        right: 50px; /* Di chuyển đến vị trí mong muốn */
        opacity: 1;
    }
}

.card-list-function-body {
    border: 1px solid #1a6fb7;
    width: 230px;
    background: #fff;
    border-radius: 20px;
    padding: 10px 20px;
}
.index-fn a {
    font-size: 14px;
    font-family: "Roboto", system-ui, "Segoe UI", "Open Sans",
        "Helvetica Neue", sans-serif;
    margin: 10px 0;
    text-decoration: none;
    font-weight: 500;
    display: flex;
}

.index-fn > p {
    text-align: left;
    font-size: 17px;
    margin-top: 5px;
    font-family: "Roboto", system-ui, "Segoe UI", "Open Sans",
        "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: #000000ed;
}
.index-fn  input[type="radio"]{
    width: 20px;
    cursor: pointer;
    height: 20px;
    margin-right: 10px;
}

.index-fn input:checked + span {
    color: #1a6fb7; /* Tùy chỉnh màu chữ nếu muốn */
}