.index-fn {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid #adadad;
}
@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height: 600px;
    }
}
/* @keyframes slideClose {
    from {
        max-height: 600px;
    }
    to {
        max-height: 0;
    }
} */
.card-list-function.show {
    animation: slideDown 1s forwards;
}
.card-list-function {
    overflow: hidden;
    position: absolute; /* Đặt vị trí tuyệt đối */
    display: none;
    right: 50px; /* Đặt vị trí bên phải */
    z-index: 999; /* Đảm bảo phần này nằm trên tất cả các phần khác */
}
.card-list-function-body {
    border: 1px solid #1a6fb7;
    width: 230px;
    background: #fff;
    border-radius: 20px;
    padding: 10px 20px;
}
.index-fn label {
    font-size: 14px;
    font-family: "Roboto", system-ui, "Segoe UI", "Open Sans", "Helvetica Neue",
        sans-serif;
    margin: 10px 0;
    font-weight: 500;
    display: flex;
}

.index-fn > p {
    text-align: left;
    font-size: 17px;
    margin-top: 5px;
    font-family: "Roboto", system-ui, "Segoe UI", "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 500;
    color: #000000ed;
}
.index-fn input {
    width: 20px;
    cursor: pointer;
    height: 20px;
    margin-right: 10px;
}

.index-fn input:checked + span {
    color: #1a6fb7; /* Tùy chỉnh màu chữ nếu muốn */
}
.show {
    display: block; /* Hiển thị thẻ khi có lớp 'show' */
}
