/* Reset default browser styles (optional) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Prevent horizontal scroll when modal is open */
}

.open-modal-btn {
    cursor: pointer;
    transition: 0.25s; /* Add a smooth hover effect */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(
        0,
        0,
        0,
        0.6
    ); /* Semi-transparent black background */
    display: flex; /* Center the modal content vertically */
    justify-content: center;
    align-items: center; /* Center the modal content horizontally */
}

.hide {
    display: none;
}

.modal__inner {
    max-width: 550px; /* Adjust width as needed */
    border-radius: 20px;
    max-height: auto;
    background-color: #fff;
    overflow: hidden;
    animation: showModal linear 0.2s;
    position: relative;
    z-index: 9999; /* Số này có thể điều chỉnh tùy vào sự ưu tiên hiển thị bạn muốn */
}
.show {
    display: block;
}
.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes showModal {
    from {
        opacity: 0;
        transform: translateY(
            -50px
        ); /* Animate from slightly below the viewport */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: right; /* Space out header elements */
    padding: 15px;
    font-size: 17px;
}
.modal__header i {
    font-size: 25px;
    color: #adadad;
    cursor: pointer;
}
.modal__body {
    padding: 10px 53px;
}

.modal__body label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; /* Màu chữ của nhãn */
}
.modal__body input[type="text"],
.modal__body #phone,
.modal__body input[type="email"],
.modal__body input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.modal__body input[type="text"]:focus,
.modal__body input[type="email"]:focus,
.modal__body input[type="password"]:focus {
    outline: none;
    border: 1px solid #1a6fb7;
}

.modal__body span {
    margin-left: 12px;
}
.modal__body i {
    color: #adadad;
    height: 25px;
}

.modal__text {
    text-align: center;
}
.modal__text p {
    font-weight: 400;
    margin-top: 5px;
}
.modal__footer {
    padding: 10px 20px;
    text-align: center;
}
.modal__footer > p {
    font-weight: 400;
    padding: 10px 20px;
}

.modal__btn button {
    text-align: center;
    padding: 15px 190px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #c3c4cd;
    background: #e6ebf2;
}
.modal__btn {
    text-align: center;
}
.form-input i {
    color: #555;
    padding-left: 10px;
}

.search {
    display: flex;
    margin-right: 28px;
}

.flex_modal {
    border-bottom: 1px solid #adadad;
    display: flex;
    padding: 20px;
    font-size: 20px;
    justify-content: space-between;
}
.modal_content {
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    width: 600px;
    background: #fff;
    margin: 15% auto; /* Chỉnh lại vị trí xuất hiện modal */
    height: 250px;
    opacity: 0; /* Bắt đầu với độ mờ 0 */
    transform: translateY(-100%); /* Bắt đầu từ vị trí trên */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Thêm hiệu ứng chuyển động */
}

.modal_content.slide-in {
    opacity: 1; /* Hiển thị modal */
    transform: translateY(0); /* Đưa modal về vị trí ban đầu */
}
.package_option {
    border: 1px solid #adadad;
    padding: 10px;
    position: relative;
    display: flex;
    border-radius: 6px;
    margin: 20px 30px;
}
.close_modal {
    font-size: 22px;
    cursor: pointer;
}
.package_option label {
    font-size: 15px;
    font-weight: 400;
}
.package_option input {
    width: 22px;
    margin: 10px;
    height: 22px;cursor: pointer;
}
.package_option .price {
    display: flex;
    font-weight: 300;
    font-size: 15px;
}
.package_option .price span {
    margin-right: 10px;
    font-weight: 400;
}
.current_price {
    color: red;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.new_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Ẩn modal ban đầu */
}

.new_modal.show {
    display: block; /* Hiển thị modal khi thêm lớp 'show' */
}

.buy_now {
    margin: 0 30px;
    font-size: 17px;
    border-radius: 6px;
    outline: none;
    border: none;
    background: #1a6fb7;
    color: white;
    padding: 14px 184px;
    cursor: pointer;
}
.buy_now:hover {
    background: #1a5181;
    transition: 0.2s;
}
.discount {
    position: absolute;
    background-image: url(../images/modal.webp);
    right: -9px;
    bottom: 30px;
    top: 20%;
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: center;
    width: 56px;
    height: 32px;
}
.original_price {
    text-decoration: line-through;
    color: #909090;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
